<div class="message-item" data-message-id="<%= message.id %>">
  <div class="sender -ellipsis" title="<%= message.username %>">
    <%= message.username %>
  </div>
  <div class="message"><%= message.message %></div>
  <div class="time">
    <%= relative_time_tag message.created_at, format: :short %>
  </div>
</div>
