<li class="message-item" data-message-id="<%= message.id %>">
  <span class="sender -ellipsis" title="<%= message.username %>">
    <%= message.username %>
  </span>
  <span class="message"><%= message.message %></span>
  <%= relative_time_tag message.created_at, format: :short, class: 'time' %>
</li>
